body {
  background-color: #f3f3f3;
  font-family: sans-serif;
}
img {
  max-width: 100%;
}

/** Style du header */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 3px 3px #00000020;
}

header li {
  display: inline-block;
  margin: 0 5px;
}

header a {
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
}

header i {
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  header .burger {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  header nav {
    display: none;
  }
  header .burger {
    width: 30px;
  }
}

/** Style du contenu principal */
main {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: auto 33%;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  main {
    gap: 50px;
  }
}
.cadre {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px 0;
}
h1 {
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.5em;
  color: #444444;
}
h2 {
  margin: 20px 0;
  font-weight: 700;
  font-size: 1.2em;
  color: #444444;
}
h3 {
  margin: 20px 0;
  font-size: 1.2em;
  color: #666666;
}
p, a {
  color: #888888;
  margin: 10px 0;
  line-height: 1.3;
  text-decoration: none;
}
.address {
  font-size: 0.8em;
}
#encart {
  width: 120px;
  height: 120px;
  background-color: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
}
#encart p {
  color: #000000;
}
.btn {
  display: inline-block;
  color: #888888;
  text-decoration: none;
  padding: 10px 15px;
  box-shadow: 3px 3px 3px #00000020;
}
.btn:hover {
  box-shadow: 0 6px 6px #00000030;
  font-weight: 600;
}

/** Style du tableau */
table {
  width: 100%;
  border: solid 1px #00000020;
}
th,
td {
  border: solid 1px #00000020;
  padding: 10px;
  text-align: left;
}
th {
  font-weight: 700;
}

/** Style du footer */
footer {
  background-color: #ffffff;
  padding: 10px 20px;
}
#mainfooter {
  padding-bottom: 60px;
}
footer h3 {
  font-weight: 600;
  text-transform: uppercase;
  color: #666666;
  margin: 5px 0 20px;
}
.footer-column{
    padding: 25px 0 0;
}
@media screen and (min-width: 768px) {
  #mainfooter {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-column {
    width: 50%;
    padding: 25px 25px 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-column {
    width: 25%;
  }
}

/** Style des tags du footer */
#tag-list li {
  display: inline-block;
  margin: 5px 10px;
}
#tag-list a {
  display: inline-block;
  background-color: #f3f3f3;
  padding: 5px 10px;
  position: relative;
  margin: 0;
}
#tag-list a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #f3f3f3;
}
